h5py==3.7.0
matplotlib==3.5.2
numpy==1.21.5
open3d==0.18.0
plyfile==1.0.3
progressbar33==2.4
pytest==7.1.2
sacred==0.8.5
scikit_learn==1.0.2
scipy==1.9.1
setuptools==63.4.1
tensorboardX==2.6.2.2
torch==2.2.0
torch_scatter==2.1.2
torchvision==0.17.0
tqdm==4.64.1
vis==0.0.5
yacs==0.1.8